@import url("media.sass");
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Light.woff");
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Light.woff?#iefix") format("embedded-opentype"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Light.woff") format("woff"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Light.woff") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Regular.woff");
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Regular.woff?#iefix") format("embedded-opentype"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Regular.woff") format("woff"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Semibold.woff");
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Semibold.woff?#iefix") format("embedded-opentype"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Semibold.woff") format("woff"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Semibold.woff") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Bold.woff");
  src: url("../assets/font/SFProDisplay-woff/SFProDisplay-Bold.woff?#iefix") format("embedded-opentype"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Bold.woff") format("woff"), url("../assets/font/SFProDisplay-woff/SFProDisplay-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: 900;
}
* {
  font-family: "SF Pro Display";
}

body {
  background: white;
}

a {
  text-decoration: none;
}

section {
  padding: 40px 0;
}

p {
  margin: 0;
}

.mini-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-title h4 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
}

header {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.header-up {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.header-logo img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-lang {
  display: flex;
  gap: 5px;
}
.header-lang a {
  font-size: 16px;
  line-height: 100%;
  color: #000;
}

.header-search {
  display: flex;
  gap: 15px;
  align-items: center;
}
.header-search button {
  border: none;
  background: transparent;
  height: 28px;
}

.header-up-mobile {
  display: none;
}

.header-form {
  position: relative;
  bottom: -34px;
  left: 34%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover {
  width: 200px;
  cursor: pointer;
}

form:hover input {
  display: block;
  border: 1px solid black;
}

form:hover .fa {
  background: #07051a;
  color: white;
}

.header-down {
  margin-top: 10px;
}

.header-big-news {
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #000;
}

.header__swiper {
  display: flex;
  align-items: center;
}

.headerSwiper {
  width: 80%;
}

.headerSwiper-control {
  display: flex;
  gap: 12px;
}

.header-nav {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 90%;
}
.header-nav li {
  list-style: none;
}
.header-nav li a {
  white-space: nowrap;
  text-decoration: none;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #000;
}

.carousel {
  height: 460px;
}

.inner-carousel {
  height: 100%;
}
.inner-carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
  border-radius: 6px;
}

.swiper-slide {
  position: relative;
}

.mainSwiper-control {
  position: absolute;
  display: flex;
  gap: 5px;
  right: 30px;
  top: 30px;
  z-index: 1;
}

.news-info {
  width: 80%;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 30px;
}
.news-info a {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #5A99C3;
  text-decoration: none;
}
.news-info h4 a {
  font-size: 26px;
  line-height: 130%;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
}
.news-info span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 120%;
  color: #B2AEAB;
}

.aqparat-title {
  color: black !important;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
}

.aqparat-info-block {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #F5F5F5;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.aqparat-info-img img {
  border-radius: 6px;
  width: 150px !important;
  height: 96px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.aqparat-info-text .info-text-category {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #5A99C3;
  text-decoration: none;
}
.aqparat-info-text a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px;
  line-height: 130%;
  font-weight: 500;
  color: #000000;
  transition: all ease 0.2s;
}
.aqparat-info-text a:hover {
  color: #5A99C3;
}
.aqparat-info-text span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 120%;
  color: #B2AEAB;
}

.header-banner {
  margin-top: 30px;
}

.inner-banner {
  width: 100%;
}
.inner-banner img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.secondary-content-title {
  font-size: 22px;
  line-height: 130%;
  font-weight: 800;
  padding-bottom: 10px;
  border-bottom: 1px solid #864925;
  margin-bottom: 30px;
}

.secondary-wrapper {
  display: flex;
  gap: 30px;
}
.secondary-wrapper .secondary-block:first-child {
  width: 51%;
}
.secondary-wrapper .secondary-block:first-childimg {
  width: 100%;
}

.all-big-news {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #F5F5F5;
}
.all-big-news img {
  width: 100%;
  max-height: 380px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.5);
}

.big-news-info {
  position: absolute;
  left: 20px;
  bottom: 30px;
}
.big-news-info a {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  color: #f5f5f5;
  font-weight: 400;
  margin-bottom: 14px;
}
.big-news-info h4 {
  margin-top: 14px;
}
.big-news-info h4 a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 22px;
  color: #FFFFFF;
  line-height: 120%;
  font-weight: 700;
}
.big-news-info span {
  font-size: 14px;
  line-height: 120%;
  color: #B2AEAB;
}

.all-extra-news {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.extra-news-item img {
  margin-bottom: 12px;
  width: 100%;
  height: 100%;
  max-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.extra-news-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 10px;
}
.extra-news-info .info-text-category {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: #5A99C3;
  text-decoration: none;
}
.extra-news-info h3 a {
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  transition: all ease 0.2s;
}
.extra-news-info h3 a:hover {
  color: #5A99C3;
}
.extra-news-info .autor {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.extra-news-info .autor span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #B2AEAB;
}
.extra-news-info .autor span img {
  width: 14px;
  height: 14px;
  margin: 0;
}

.secondary-block:nth-child(2) {
  width: 45%;
}

.right-news-item {
  max-width: 100%;
  display: flex;
  gap: 30px;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #F5F5F5;
}
.right-news-item .right-news-img {
  width: 270px;
  height: 160px;
}
.right-news-item .right-news-img img {
  max-width: 270px;
  min-width: 270px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.right-news-video {
  width: 100%;
  position: relative;
}
.right-news-video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.right-news-video .video-news {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-news-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.right-news-info .info-text-category {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #5A99C3;
  text-decoration: none;
}
.right-news-info h3 a {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: all ease 0.2s;
}
.right-news-info h3 a:hover {
  color: #5A99C3;
}
.right-news-info .autor {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.right-news-info .autor span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #B2AEAB;
}
.right-news-info .autor span img {
  width: 14px;
  height: 14px;
}

.category-info {
  display: grid;
  grid-template-columns: 1fr;
}

.category-news-item {
  max-width: 100%;
  display: flex;
  gap: 30px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #F5F5F5;
}
.category-news-item .category-news-img {
  width: 270px;
  height: 160px;
}
.category-news-item .category-news-img img {
  max-width: 270px;
  min-width: 270px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-news-info {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.category-news-info .info-text-category {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #5A99C3;
  text-decoration: none;
}
.category-news-info h3 a {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #000000;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  transition: all ease 0.2s;
}
.category-news-info h3 a:hover {
  color: #5A99C3;
}
.category-news-info .autor {
  display: flex;
  gap: 10px;
}
.category-news-info .autor span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  line-height: 120%;
  color: #B2AEAB;
}

.category-title h4 {
  color: black !important;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
}

footer {
  bottom: 0;
  background: #000000 !important;
}

.footer-top {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #666666;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 11px;
}
.footer-logo a {
  font-size: 18px;
  line-height: 130%;
  text-decoration: none;
  color: #fff;
}

.footer-nav {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0;
}
.footer-nav li {
  list-style: none;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 30px 0;
}
.footer-down nav {
  width: 80%;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
.footer-menu li {
  list-style: none;
}
.footer-menu li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  color: #FFFFFF;
}

.privacy {
  display: flex;
  align-items: center;
}
.privacy a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #B8B8B8;
}

.news-path {
  padding-left: 0;
  display: flex;
}
.news-path li {
  list-style: none;
}
.news-path li a {
  color: #B2AEAB;
  text-decoration: none;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
}
.news-path li .active {
  margin-left: 8px;
  color: #222 !important;
  text-decoration: none;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
}

.news .extra-news-info span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #B2AEAB;
}
.news .extra-news-info span img {
  width: 14px;
  height: 14px;
  margin: 0;
}

.news-main-title h2 {
  color: #222 !important;
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
}

.basic-info {
  display: flex;
  gap: 15px;
}
.basic-info span {
  display: flex;
  gap: 10px;
  font-size: 14px;
  line-height: 120%;
  color: #B2AEAB;
  font-weight: 400;
}

.news-photo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.news-photo img {
  width: 100%;
  height: 100%;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.news-photo-info {
  color: #919191;
  font-size: 16px;
  margin: 15px 0 0;
  display: block;
}

.news-photo-wrapper {
  padding-bottom: 30px;
  border-bottom: 1px solid #F5F5F5;
}

.news-text h4 {
  font-size: 22px;
  line-height: 130%;
  margin-top: 30px;
}
.news-text blockquote {
  padding-left: 18px;
  font-size: 16px;
  line-height: 130%;
}
.news-text p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
}

.news-text span, p, h1, h2, h3, h4, h5, h6, a {
  font-family: "SF Pro Display" !important;
}

.link-social {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.link-social a img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.extra-title {
  margin-top: 30px;
}
.extra-title h4 {
  font-size: 30px;
  line-height: 39px;
  font-weight: 800;
  color: #222;
}

.inner-extra-news {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.inner-extra-news .extra-news-itemimg {
  width: 270px;
  height: 160px;
}

.rules .rules-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules .rules-title h4 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
}
.rules .rules-text p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
}

.contacts-info-item {
  display: flex;
  gap: 150px;
}

table th, td {
  padding: 10px 0;
}

table td p {
  display: flex;
  gap: 10px;
}
table td p:not(:first-child) {
  margin-top: 10px;
}

table tr th {
  vertical-align: baseline;
  width: 45%;
}

@media screen and (max-width: 1200px) {
  .news-main-title h2 {
    font-size: 36px;
  }
  .footer-menu {
    gap: 0px !important;
    width: 80%;
    justify-content: space-between;
  }
  .footer-down {
    flex-direction: column !important;
    gap: 15px;
  }
  .right-news-info h3 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1024px) {
  .aqparat-info {
    width: 70%;
  }
  .aqparat-info-block {
    justify-content: space-between;
  }
  .main-wrapper {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 0;
  }
  .one-wrapper {
    padding: 0 !important;
  }
  .header-banner {
    padding: 0 !important;
  }
  .sidebar {
    width: 100%;
  }
  .inner-banner img {
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .main-wrapper-one {
    width: 100%;
  }
  .secondary-wrapper {
    flex-direction: column;
  }
  .secondary-wrapper .secondary-block:first-child {
    width: 100% !important;
  }
  .all-big-news {
    margin-bottom: 0 !important;
  }
  .all-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .right-news {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .right-news-item {
    margin-bottom: 0 !important;
  }
  .news-main-title h2 {
    font-size: 36px !important;
  }
  .news-text h2 {
    font-size: 20px !important;
  }
  .news-text p span {
    font-size: 20px !important;
  }
  .news-text p {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 991px) {
  .extra-news-item img {
    max-height: 178px !important;
  }
  .news-photo img {
    height: 508px;
  }
  .news-text {
    width: 100%;
  }
  .header-up {
    display: none;
  }
  .header__swiper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .footer-down nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header-up-mobile {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .header-up-mobile .header-search {
    display: flex;
    flex-direction: column;
  }
  .main-wrapper {
    margin: 0;
  }
  .all-news {
    grid-template-columns: 1fr;
  }
  .news-text {
    width: 90% !important;
  }
  .secondary-block {
    width: 100% !important;
  }
  .right-news {
    grid-template-columns: 1fr 1fr;
    height: auto !important;
  }
  .right-news-item {
    flex-direction: column;
    height: auto !important;
  }
  .footer-menu {
    flex-direction: column;
    align-items: center;
  }
  .inner-extra-news {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 768px) {
  .news-photo img {
    max-height: 393px;
  }
  .category-news-img {
    display: none;
  }
  .sidebar-inner {
    width: 100%;
  }
  .aqparat-info {
    width: 100% !important;
  }
  .news-main-title h2 {
    font-size: 34px !important;
  }
}
@media screen and (max-width: 640px) {
  .news-main-title h2 {
    font-size: 30px !important;
  }
  .news-photo img {
    max-height: 328px;
  }
  .carousel {
    height: 343px;
  }
  .right-news {
    grid-template-columns: 1fr;
  }
  .right-news-item {
    flex-direction: inherit;
  }
  .sidebar-inner {
    width: 100% !important;
  }
  .news-info h4 {
    font-size: 18px !important;
  }
  .news-info span {
    font-size: 14px !important;
  }
  .main-content {
    padding: 30px 0 10px 0 !important;
  }
  .secondary-content {
    padding: 10px 0 30px 0 !important;
  }
  .header-banner {
    margin: 0 !important;
  }
  .main-wrapper {
    gap: 10px !important;
  }
}
@media screen and (max-width: 640px) {
  .right-news-item {
    flex-direction: column;
  }
  .right-news-item .right-news-img {
    width: 100% !important;
  }
  .right-news-item .right-news-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .news .inner-extra-news {
    grid-template-columns: 1fr !important;
  }
  .news .extra-news-item img {
    max-height: 245px !important;
  }
  .news-main-title h2 span {
    font-size: 20px !important;
  }
  .news-text p span {
    font-size: 18px !important;
  }
  .news-photo img {
    max-height: 246px;
  }
  .carousel {
    height: 257px;
  }
  .news-info h4 a {
    font-size: 20px;
  }
  .category-news-info .autor {
    flex-direction: column;
  }
  .news-photo {
    height: 270px;
  }
  table tr th h3 {
    font-size: 18px;
  }
}
@media screen and (max-width: 414px) {
  .news .extra-news-item img {
    max-height: 209px !important;
  }
  .all-big-news img {
    max-height: 196px !important;
    height: 196px !important;
  }
  .extra-news-item img {
    max-height: 196px;
  }
  .news-main-title h2 {
    font-size: 26px !important;
  }
  .aqparat-info-img img {
    height: 183px !important;
  }
  .carousel {
    height: 222px;
  }
  .news-info h4 a {
    font-size: 18px;
  }
  .right-news-item .right-news-img {
    height: 200px !important;
  }
  .aqparat-info-block {
    flex-direction: column-reverse;
  }
  .aqparat-info-img img {
    width: 100% !important;
    height: 160px !important;
  }
  .big-news-info h4 a {
    font-size: 18px !important;
  }
  .all-extra-news {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  .extra-news-info h3 {
    font-size: 16px !important;
  }
  .news-path {
    flex-wrap: wrap !important;
  }
  .news-path li .active {
    margin-left: 0 !important;
  }
  .news-main-title h2 {
    font-size: 28px !important;
  }
  .inner-extra-news {
    grid-template-columns: 1fr !important;
  }
  .rules .rules-text p {
    font-size: 16px !important;
  }
  .rules .rules-title h4 {
    font-size: 18px !important;
  }
  table tr th {
    font-size: 14px;
  }
  table td p {
    font-size: 14px;
  }
  table td h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 390px) {
  .news .extra-news-item img {
    max-height: 196px !important;
  }
  .all-big-news img {
    max-height: 196px !important;
    height: 196px !important;
  }
  .extra-news-item img {
    max-height: 196px;
  }
  .news-main-title h2 {
    font-size: 20px !important;
  }
  .aqparat-info-img img {
    height: 183px !important;
  }
  .carousel {
    height: 209px !important;
  }
}/*# sourceMappingURL=style.css.map */